* {
  margin: 0;
  padding: 0;
  /* max-width: 1600px;
  margin: 0 auto; */
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* Common Styles */
.span-primary {
  color: #ff42a5;
}
.btn-primary {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #ff42a5;
  border-radius: 35px;
  padding: 15px 30px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

.btn-secondary {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #4ec5f7;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 35px;
  padding: 15px 30px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

/* Header part start */
section.nav {
  border-bottom: 3px solid rgb(247, 247, 247);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 25px 10px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-left: 10px;
}
.menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu ul li {
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  margin-right: 30px;
  color: #252525;
  font-size: 1rem;
  font-weight: 500;
}
.menu ul li a:hover {
  color: #ff42a5;
}

.menu-follows {
  padding: 10px;
  background-color: #e7e6e9;
  border-radius: 5px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.menu-follows a {
  margin-left: 20px;
}

/* Banner style starts */

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
  /* background-image: url("../images/Group 14.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  background-color: rgb(230, 251, 255);
}

.banner-info {
}
.banner-subtitle {
  color: #0b0223;
  font-size: 2.5rem;
  font-weight: 600;
}

.banner-title {
  font-size: 4.5rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

.banner li {
  color: #534c64;
  font-size: 1rem;
  font-weight: 500;
  list-style: none;
}

.banner-img .banner-image {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-left: 50px;
}

/*  we are gammer style */
main {
  max-width: 1400px;
  margin: 0 auto;
}

.gamer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px 0;
}

.gamer-img img {
  width: 100%;
}
.gamer-info {
  text-align: right;
  padding-left: 80px;
  width: 50%;
  padding-right: 30px;
}

.gamer-title {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gamer-description {
  color: #534c64;
  text-align: right;
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
  margin-top: 10px;
}

h3.our-purpose {
  color: #534c64;
  font-size: 24px;
  font-weight: 500;
  line-height: 45px; /* 187.5% */
}
h2.gamer-unleash {
  color: #534c64;
  font-size: 2rem;
  font-weight: 700;
  line-height: 45px;
}
