* {
  margin: 0;
  padding: 0;
  /* max-width: 1600px;
  margin: 0 auto; */
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* Common Styles */
.span-primary {
  color: #ff42a5;
}
.btn-primary {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #ff42a5;

  border-radius: 35px;
  padding: 15px 30px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #4ec5f7;
  color: white;
}

.btn-secondary {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #4ec5f7;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 35px;
  padding: 15px 30px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
.btn-secondary:hover {
  color: white;
  background-color: #ff42a5;
}

/* Header part start */
section.nav {
  border-bottom: 3px solid rgb(247, 247, 247);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 25px 10px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-left: 10px;
}
.menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu ul li {
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  margin-right: 30px;
  color: #252525;
  font-size: 1rem;
  font-weight: 500;
}
.menu ul li a:hover {
  color: #ff42a5;
}

.menu-follows {
  padding: 10px;
  background-color: #e7e6e9;
  border-radius: 5px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.menu-follows a {
  margin-left: 20px;
}

/* Banner style starts */

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
  /* background-image: url("../images/Group 14.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  background-color: rgb(230, 251, 255);
}

.banner-info {
}
.banner-subtitle {
  color: #0b0223;
  font-size: 2.5rem;
  font-weight: 600;
}

.banner-title {
  font-size: 4.5rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

.banner li {
  color: #534c64;
  font-size: 1rem;
  font-weight: 500;
  list-style: none;
}

.banner-img .banner-image {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-left: 50px;
}

/*  we are gammer style */
/* main {
} */
.gamer-section {
  background-color: #fff9fc;
}
.gamer {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 80px 0;
}

.gamer-img img {
  width: 100%;
}
.gamer-info {
  text-align: right;
  padding-left: 80px;
  width: 50%;
  padding-right: 30px;
}

.gamer-title {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gamer-description {
  color: #534c64;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 30px;
  margin-top: 10px;
}

h3.our-purpose {
  margin-top: 20px;
  color: #534c64;
  font-size: 24px;
  font-weight: 500;
  line-height: 45px; /* 187.5% */
}
h2.gamer-unleash {
  color: #534c64;
  font-size: 2rem;
  font-weight: 700;
  line-height: 45px;
}

/* Funny videos styles starts  */

.funny {
  max-width: 1220px;
  margin: 100px auto;
  padding: 0 10px;
}
.info {
  text-align: center;
}
.funny-title {
  color: #534c64;
  font-size: 2rem;
  font-weight: 700;
  line-height: 45px;
}
.funny-title2 {
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.funny-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 80px;
}
.card img {
  width: 100%;
}
.card {
  position: relative;
  display: inline-block;
}

.card-description {
  color: #534c64;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 10px;
}

.hover-icon {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/watch2.png"); /* Replace with your icon image */
  background-size: cover;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.card:hover .hover-icon {
  opacity: 1;
  cursor: pointer;
}
.card:hover img {
  opacity: 0.2;
  border: 2px solid rgb(68, 1, 77);
  border-radius: 18px;
}
/* Anytime section starts */

.anytime {
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px 0;
}
.anytime-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.anytime-img img {
  width: 80%;
}

.anytime-description {
  color: #534c64;
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-top: 10px;
}
.anytime-title {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.games-black {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(39, 39, 39);
}

.hero2-img img {
  width: 200px;
  border: 6px solid rgb(255, 194, 237);
  border-radius: 6px;
  position: relative;
  bottom: 160px;
  left: 449px;
}

/* Game Categories */

.game-categories {
  /* display: grid; */
  /* grid-template-columns: repeat(5, 1fr); */

  align-content: center;
  gap: 17px;
  max-width: 1350px;
  margin: 0 auto;
  padding: 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 180px;
}
.cat {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
.cat:hover {
  border: 2px solid rgb(193, 0, 211);
  padding: 10px;
  background-color: #ecfffb;
  transition: 0.7s;
  cursor: pointer;
  border-radius: 60px;
}

.games-name {
  color: #0b0223;
  font-size: 1rem;
  font-weight: 600;
  margin: 0px 20px 0px 10px;
}
.games-name:hover {
  color: rgb(164, 5, 185);
}

/* footer style start */

footer {
  background-color: #0b0223;
  color: white;
  text-align: center;
  padding: 120px 0;
}

.footer-logo {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.footer-nav1 ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-nav1 ul li {
  list-style: none;
  margin-right: 25px;
}

.footer-nav1 ul li a {
  color: white;
  text-decoration: none;
}
.footer-nav1 ul li a:hover {
  color: #ff79c9;
}
.footer-follow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 60px 0;
}
.footer-follow li {
  list-style: none;
}

.footer-nav2 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.footer-nav2 ul li {
  list-style: none;
  margin-right: 25px;
}

.footer-nav2 ul li a {
  color: rgb(182, 182, 182);
  text-decoration: none;
}
.footer-nav2 ul li a:hover {
  color: #ff79c9;
}

.copyright {
  margin-top: 30px;
  color: rgb(180, 180, 180);
}

.dev {
  color: #ff79c9;
  cursor: pointer;
}

/* Responsive for mobile */
@media screen and (max-width: 576px) {
  nav,
  .gamer,
  section.anytime {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
  }
  .banner {
    flex-direction: column-reverse;
    padding-top: 30px;
  }
  .banner-img .banner-image {
    padding-bottom: 50px;
    padding-top: 20px;
    margin: 0px;
  }
  .banner-info {
    padding-bottom: 50px;
  }
  .gamer {
    padding-bottom: 20px;
  }
  .gamer-info {
    text-align: center;
    padding: 10px;
    width: 90%;
    padding-bottom: 50px;
  }
  .gamer-description {
    text-align: center;
    font-size: 15px;
  }

  h2.gamer-unleash {
    font-size: 20px;
  }
  section.funny {
    margin-bottom: -48px;
    padding-top: 0px;
  }
  .funny-cards {
    flex-direction: column;
  }
  .card {
    margin-top: 20px;
  }
  .anytime-flex {
    flex-direction: column-reverse;
  }
  .hero2-img img {
    width: 150px;
    bottom: 100px;
    left: 220px;
    margin-bottom: 0px;
  }
  .anytime-img {
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: -60px;
  }
  .anytime-info {
    width: 85%;
    text-align: center;
  }
  p.anytime-description {
    font-size: 14px;
  }
  .anytime-title,
  .games-black {
    font-size: 25px;
    margin-top: 5px;
  }
  h3.games-name {
    font-size: 15px;
  }
  .footer-nav1 u {
    flex-direction: column;
  }

  .footer-nav1 ul,
  .footer-nav2 ul {
    /* flex-direction: column;
      gap: 10px; */
    flex-wrap: wrap;
    padding: 20px 30px;
    font-size: 18px;
  }
  .copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Responsive for tablet */

@media screen and (min-width: 576px) and (max-width: 992px) {
  nav,
  .gamer,
  section.anytime {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
  }

  .banner {
    flex-direction: column-reverse;
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .banner-img .banner-image {
    padding-top: 20px;
    /* padding-left: 20px;
    padding-right: 20px; */
    margin: 0px;
    width: 500px;
    /* width: 95%; */
  }
  .gamer-info {
    text-align: center;
    padding: 10px;
    width: 90%;
  }
  .gamer-description {
    text-align: center;
  }
  h2.gamer-unleash {
    font-size: 20px;
  }
  section.funny {
    margin-bottom: -48px;
  }
  .funny-cards {
    flex-wrap: wrap;
  }
  .card {
    margin-top: 20px;
  }
  .anytime-flex {
    flex-direction: column-reverse;
  }
  .hero2-img img {
    width: 150px;
    bottom: 100px;
    left: 220px;
    margin-bottom: 0px;
  }
  .anytime-img {
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: -60px;
  }
  .anytime-info {
    width: 85%;
    text-align: center;
  }
  .anytime-title,
  .games-black {
    font-size: 35px;
    margin-top: 5px;
  }
  h3.games-name {
    font-size: 15px;
  }
  .footer-nav1 u {
    flex-direction: column;
  }

  .footer-nav1 ul {
    /* flex-direction: column;
    gap: 10px; */
    flex-wrap: wrap;
    padding: 20px 30px;
    font-size: 18px;
  }
  .copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
